 <p> Here are the products currently for sale </p>
 <% @products.each do |product| %>  

    <h2 style="background-color:lightblue"> <%= product["name"] %> <h2> 

    <h5> <%= product["description"] %> </h4> 
    
    <a href="/client/products/<%=product["id"]%>">
    <img src = "<%= product["image_url"] %>" height="280" width="280">
    </a>
 <% end %>